body{
    background-color: rgb(105, 11, 11);
    color: rgb(236, 50, 165);
    margin: 0px;

}
    
header {
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color:rgb(185, 116, 223)
}

h1 {
    font-size: 30px;
}

p{
    color:rgb(69, 236, 181);
    font-size: 16px;
}